pip==9.0.1
wheel==0.30.0
flake8==3.5.0
tox==2.9.1
coverage==4.4.2
pytest==3.2.3
pytest-cov==2.5.1
Sphinx==1.6.5
sphinx-rtd-theme==0.2.4
moto==0.4.31
pymongo==3.5.1
boto3==1.5.28
bumpversion==0.5.3
watchdog==0.8.3
cryptography==2.1.4
clatter==0.1.1
